.place__website {
    grid-area: website;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
        width: auto;
        margin-top: 32px;
        
    }
}