


.intro__main-conteiner {
    text-align: left;
    margin-top: 92px;
    
    
}

@media screen and (min-width: 1280px) {
    .intro__main-conteiner {
        max-width: 690px;
    }
}

@media screen and (max-width: 1279px) {
    .intro__main-conteiner {
        width: 690px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__main-conteiner {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro__main-conteiner {
        min-width: auto;
        width: auto;
        margin-top: 64px;
    }
}