@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);



.page {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
}





.header {
    grid-area: header;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 48px 0 48px;
    
}

.header_conteiner {
    max-width: 1184px;
    min-width: 288px;
    
}

.header__logo {
    height: 52px;
    
}

@media screen and (max-width: 767px) {
    header__logo{
        height: 42px;
    }
}

.header__lang-links {
    display: flex;
    flex-direction: row;
}


.header__lang-link {
    text-align: right;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16em;
    margin-left: 18px;
}





.lead {
    text-align: center;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
    
}

.lead_conteiner{
    max-width: 984px;
    min-width: 320px;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 928px;
        width: auto;
    }
    
}

@media screen and (max-width: 767px) {
    .lead {
        width: 100%;
    }
}

.lead__title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
}

.lead__subtitle {
    font-size: 30px;
    line-height: 1.2em;
    margin-top: 32px;
}

@media screen and (max-width: 767px) {
    lead__subtitle {
        font-size 16px;
    }
}

.lead__image {
    width: 100%;
    margin-top: 64px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        margin-top: 56px;
    }
    
}

@media screen and (max-width: 767px) {
    .lead__image {
        margin-top: 40px;
    }
}

.lead__caption {
    font-size: 10px;
    line-height: 1.4em;
    text-align: left;
    margin-top: 8px;
    text-transform: uppercase;
}




.intro {
    text-align: left;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    
}

.intro_conteiner {
    max-width: 720px;
    min-width: 288px;
}

@media screen and (min-width: 1280px) {
    .intro {
        max-width: 690px;
    }
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 690px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        width: auto;
        margin-top: 64px;
    }
}


.intro__title {
    font-size: 54px;
    line-height: 1.074em;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09em;
    }
}

.intro__text {
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    list-style-type: none;
    margin-top: 33px;
}

.intro__list-item {
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 600;
}

.list-item_number {
    font-weight: 400;
}



.photo-grid_conteiner {
    max-width: 1184px;
    min-width: 288px;
}

.photo-grid {
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        width: auto;
        max-width: 1184px;
        margin-top: 92px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: auto;
        min-width: 928px;
        margin-top: 92px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        width: auto;
        min-width: 720px;
        margin-top: 88px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        width: auto;
        min-width: 288px;
        margin-top: 64px;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        margin-left: 16px;
        margin-right: 16px;
    }
}


.photo-grid__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.photo-grid__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}