.lead__caption {
    font-size: 10px;
    line-height: 1.4em;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}